@media (max-width: 1024px){
    .FlexMain{
        flex-direction: column;
        flex-shrink: 2;
    }

    .HEADER{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        text-align: center;
    }

    .LogoImg{
        /* display: none; */
        width: 20%;
        height: 20%;
    }

    .pages{
        display: inline-flex;
        flex-direction: column;
    }

    .FlexColumn{
        width: 100%;
    }

    .InFlex{
        display: inline-flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        flex-shrink: 2;
    }

    h1{
        font-size: 30px;
    }
}

@media (max-width: 200px){
    h1{
        font-size: 20px;
    }

    .SmallH{
        font-size: 15px;
    }

    .LogoImg{
        width: 40%;
        height: 40%;
    }

    .ButtonImg{
        display: none;
    }
}