@media (max-width: 1024px){
    .FlexMain{
        flex-direction: column;
    }

    .HEADER{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        text-align: center;
    }

    .LogoImg{
        /* display: none; */
        width: 20%;
        height: 20%;
    }

    .pages{
        display: inline-flex;
        flex-direction: column;
    }

    .FlexColumn{
        width: 100%;
    }

    .InFlex{
        display: inline-flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-around;
    }
}