:root{
    --Hover_color: #0080FF;
    --My_Yellow: #A4A454;
    --Select_Color: #e9b6ff;
    --Text_Color: #fafafa;
}

.BTN:hover{
    background-color: var(--Hover_color);
    color: black;
    transition: all 3s; 
}

.BTN:focus{
    border-color: var(--My_Yellow);
}

.BTN:active{
    background-color: var(--My_Yellow);   
    color: var(--Text_Color)
}

p::selection{
    background-color: var(--Select_Color);
}

h1::selection{
    background-color: var(--Select_Color);
}

span::selection{
    background-color: var(--Select_Color);
}

body::-moz-selection{
    background-color: var(--Select_Color);
}

