#SUBMITION{
    margin: 0 auto;
    width: 70%;
    margin-top: 20px;
}

.CINPUT{
    border-style: solid;
    width: 80%;
    font-family: GothamProLight;
    text-align: left;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}

#BIRTHDAY{
    border-style: solid;
    width: 20%;
    font-family: GothamProLight;
    text-align: left;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}

.LEGEND{
    font-family: GothamProLight;
    text-align: center;
    margin-top: 10px;
    margin-left: 5%;
}

.LABEL{
/*    border-bottom: 1px solid black;*/
    font-family: GothamProLight;
    text-align: left;
    width: 10%;
}

.IN{
    margin: 0 auto;
    margin-top: 10px;
    width: 60%;
}

.STAR{
    color: red;
}
